<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Duke Energy Week@aims group</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <script src="https://chemapps.stolaf.edu/jmol/jsmol/JSmol.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="spectrum.js"></script>
</head>

<body>
  <div class="container">
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable mainmanual">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="https://aims.pratt.duke.edu" class="pure-menu-link">Welcome</a></li>
        <li class="pure-menu-item"><a href="#intro" class="pure-menu-link">Introduction</a></li>
        <li class="pure-menu-item"><a href="#discover" class="pure-menu-link">Discover More</a></li>
        <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">About us</a></li>
      </ul>
    </div>

    <div class="pure-g rainbow-orange">
      <div class="pure-u">
        <div class="l-box">
          <center>
            <h1>Ab Initio Materials Simulations Group at Duke</h1>
            <br>
            <h2>Understanding and Predicting Light-Harvesting Materials <br> Using Quantum Mechanics</h2>
          </center>
        </div>
      </div>
    </div>
    <!-- Introduction Part...-->
    <div class="pure-g rainbow-yellow">
      <div class="pure-u-1">
        <div class="l-box">
          <h3><span class="important-text">Light-Harvesting Materials</span></h3>
          <p>Solar energy is an abundant energy resource on earth. Plants and other organisms have "harvested" this energy for billions of years, predominantly in order to produce fuels. As humans, we can harness the same resource in multiple ways, including photovoltaics (direct generation of electric power) and in the form of simpler solar fuels, for example hydrogen from a photochemical hydrogen evolution process. An additional question relates to storing the harvested energy. Broadly speaking, photovoltaics appears poised to become competitive in the electricity market on its own, but storage of excess energy harvested during daytime still presents a challenge. Photochemical fuel generation is entirely feasible in the lab and in principle solves the storage problem, but is not, at present, competitive from an economic point of view.</p>
          <p>All these forms of "light harvesting" have in common that the underlying processes - capture of light, generation and transport of the electrical charges, and possibly chemical reactions - are directly determined by the atomic structure and
            composition of a material. They originate at the atomic scale. Our group employs quantum-mechanics based computational predictions to understand and, if possible, help to advance improved materials for light harvesting purposes. One key focus
            is the prediction of new absorbers for photovoltaics, of which the most important existing candidates are shown on a well-known chart updated regularly by the National Renewable Energy Laboratory (NREL):</p>
          <center>
            <img class="pure" src="img/effeciency.png">
            <p>Figure 1: "NREL chart". This graph shows certified solar cell device efficiencies accomplished using different types of solar absorber materials and different types of device architectures, as a function of the certification year. The primary
              commercial solar absorber materials are Si and so-called thin-film photovoltaic materials, CdTe and Cu(In,Ga)(S,Se)<sub>2</sub> ("CIGS"). However, new absorber materials particularly for thin-film technologies are an active and promising
              research area to ultimately help reduce manufacturing cost and complexity and enable the technology to scale up to the power generation capacity required by a growing and technologically more advanced human society.</p>
          </center>

        </div>
      </div>
    </div>
    <!-- End -->

    <!-- Second part -->
    <div class="pure-g rainbow-green">
      <div class="pure-u-1">
        <div class="l-box">
          <h3>Our group</h3>
          <p>In <a href="http://aims.pratt.duke.edu/">our group</a>, the focus is on developing computational methods and tools to help us predict materials properties and processes from the "first principles" of quantum mechanics. The key point is that
            this enables us to predict specific materials properties faithfully, based on precisely defined atomic arrangements in a solid. We can thus take the essential features of a solid and help predict in which way a material should be made, or,
            conversely why a specific material should be altered in a certain way to make it more effective. Solar absorber materials are one prime example of how this works, but the underlying principle is general and applied across the globe and across
            materials science and chemistry, in academia and industry, by a host of researchers today. However, we do not make the materials that we predict ourselves. Close collaborations with leading experimental groups are therefore and essential feature
            of our work. We are therefore particularly happy to be working with the group of David Mitzi on exciting questions such as solar energy absorbers. A specifically relevant aspect of our work in this area are so-called "energy band structure"
            predictions for solids, based on a realistic model of their underlying structure. An example for a complex solid (which is, however, not a solar absorber) is shown below:
          </p>
          <div class="pure-g">

            <div class="pure-u-1">
              <center>
                <img class="pure" src="img/what_aims_do.jpg" />
              </center>
              <div>

                <div class="pure-u-1">
                  <center>Figure 2: A schematic image of the information needed to predict an energy band structure of a solid. The fundamentally necessary input are the atomic positions in a crystalline model of a solid - here shown for a complex crystalline
                    solid that can be made: Aminoethyl-quaterthiophene lead bromide, a complex organic-inorganic hybrid structure. This structure serves as input to a computer code that solves the central equations of quantum mechanics in a high-quality
                    approximation; there are many widely used code packages that do this and our group leads the development of one of them, "FHI-aims". With some luck and much diligence, we can then predict the energies of electronic levels that can
                    accommodate electronic carriers in the material. In particular, the "energy band gap" or "fundamental gap" (also indicated in the picture) is a region which does not allow any electronic carriers to transport current. This "gap" also
                    gives an approximate idea of the main light absorption energies to be covered by this solid, and therefore its potential usefulness as a solar absorber or (in this case) a potential light emission material.</center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of second part -->
    <!-- Third Part -->
    <div class="pure-g rainbow-blue">
      <div class="pure-u-1">
        <div class="l-box">
          <h3>The Energy Band Structure and Light Absorption</h3>
          <h4>A Quick Overview of "Band Structures"</h4>

          <p>The image shown below (Figure 3, taken from Wikipedia) shows schematically how the allowed energy levels of a solid material (center; in our case, the energy levels of a crystalline absorber materials) emerge from individual energy levels of
            the atoms that make up the solid (right). In short, the mathematical rules of quantum mechanics dictate that electrons in a solid can only have certain energies, whereas other energies are entirely "forbidden" to them. In a solid, these energy
            levels are very close to one another (essentially indistinguishable from a continuum). However, there exist regions in which no energy levels may be found at all (the energy gap). Each energy level may only be occupied by one electron at a
            time. This means that, in the lowest-energy state of a solid, the energy levels will be filled up to a certain energy, called E<sub>V</sub> in the plot below. The number of energy levels up to E<sub>V</sub> is precisely equal to the number
            of electrons in the solid. In a semiconductor or insulator, the energy levels above E<sub>V</sub> are separated from those below by a "forbidden gap" and any energy levels at the next allowed energy, E<sub>C</sub>, and more, are empty.
          </p>
          <p> Another rule of quantum mechanics dictates that a completely filled energy band cannot transport charge, i.e., cannot help carry an electrical current. However, incoming light can give an electron with an energy below E<sub>V</sub> a "push"
            and lift its energy to be greater than E<sub>C</sub>. Suddenly, there will be a free electron with an energy above E<sub>C</sub> in an otherwise empty, allowed energy band, and this electron can carry a current. Likewise, the band below E<sub>V</sub>            will now no longer be completely filled and can also carry a very small current of its own. The absorption of a photon thus prepares the ground to observe and make use of a photovoltaic current.
          </p>
          <img class="pure-img" src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Solid_state_electronic_band_structure.svg">
          <center>Figure 3: Allowed energy levels ("energy bands") for electrons in a solid (center) and how they emerge from the energy levels of the atoms that make up the solid (right).</center>

          <h4>But wait, there's more!</h4>
          <p>The picture in Fig. 3 leaves us with a small hair in the soup, however, because it looks completely unlike the picture shown in Figure 2 (d). But aren't both of them "band structures"? The catch is that Figure 3 is incomplete. While it does
            show allowed and forbidden energy regions, it does not give us any idea of the properties of the electrons found in those regions. It is essential for photovoltaics that electrons should move, for example, but Fig. 3 stays silent about how
            they move.</p>
          <p> The x-axis of Figure 2(d), although not labeled, actually tells us something about how the electrons in a solid move. In Figure 2(d), the allowed energies below and above the forbidden gap are plotted according to their "crystal momentum", which
            in practice translates into the actual momenta or velocities of an electrical current carrier in a crystal. This is helpful, and therefore, our actual computations provide us with information about the expected electron energy as a function
            of their momentum.
          </p>
          <p> One thing that follows is the question what happens to an electron's momentum when it is lifted up to a higher energy level by absorbing a photon (light)? It turns out that by absorbing a photon only, almost nothing happens - the electron changes
            its energy, but not its momentum. In terms of Figure 2(d), this means that a solid can best absorb light with energies that connect an energy band below the band gap with another energy band above the band gap, i.e., move the electron's state
            in a vertical fashion in Figure 2(d). If the highest occupied electronic state (below the gap) and the lowest unoccupied state (above the gap) are found to have the same momentum (like in Figure 2(d)) one speaks of a direct gap, and light
            absorption might be strong for energies right above the band gap. In contrast, if the highest occupied electronic state (below the gap) and the lowest unoccupied state (above the gap) are NOT found at the same momentum, then the absorption
            at the band gap itself will be much weaker and one speaks of an "indirect gap". It turns out that Si is an "indirect" semiconductor and thus a much weaker absorber than the "thin-film" solar absorbers CdTe or CIGS. One therefore needs much
            less of the absorber material (and can process the material in different ways) for a thin-film absorber than for Si-based solar cells.
          </p>
        </div>
      </div>
    </div>
    <!-- End of third part -->

    <!-- Spectrum Part -->
    <div class="pure-g rainbow-cyan">
      <div class="pure-u-1">
        <div class="l-box">
          <h3>The Solar Spectrum</h3>
          <p>Reference: <a href="https://www.nrel.gov/grid/solar-resource/spectra-am1.5.html">American Society for Testing and Materials</a></p>
          <p>The last ingredient we need to determine whether a semiconductor is a potentially good solar absorber, based on its atomic structure, is some knowledge of the energy spectrum of solar light itself. We need solar light to be able lift electrons
            from below the energy gap in a semiconductor to above the energy gap. This means that the energy gap of a good absorber should be low enough so that a significant part of the solar spectrum can be absorbed by the semiconductor. On the other
            hand, the gap should not be too low, since the voltage one can achieve from a solar cell is largely determined by the size of the energy gap - lower gap, lower voltage, and thus less power. As a good compromise, one typically seeks solar absorbers
            with band gaps between 1.0 eV and 1.6 eV, with an ability to absorb enough of the incoming solar spectrum, yet with a significant enough gap to guarantee a reasonable output voltage.</p>
          <div id="solarspectrum"></div>
        </div>
      </div>
    </div>
    <!-- End of third part -->



    <div id="app">
      <div class="pure-g rainbow-voilet" id="discover">
        <div class="pure-u-1">
          <div class="l-box">
            <div class="select">
              <h3>Discovery more Materials Here:
			<select v-model="selected">
				<option value="" selected="selected">Choose a Material...</option>
				<option v-for="material in materials" :value="material" selected>{{ material.displayName }}</option>
        </select>
      </h3>
            </div>
          </div>
        </div>
      </div>
      <div v-if="selected" class="pure-g">
        <div class="pure-u-1">
          <div class="l-box">
            <h3>It seems that you selected <span class="important-text">[{{selected.displayName}}]</span> </h3>
            <p>Here is some information about the material you selected!</p>
          </div>
        </div>

        <div class="pure-g">
          <div class="pure-u-1">
            <div class="l-box">
              <center>
                <h3>Basic Information</h3>
              </center>
            </div>
          </div>

          <div v-if="selected.imageURL">

            <!-- image and introduction -->
            <div class="pure-u-1 pure-u-md-1-3">
              <div class="l-box">
                <img class="pure-img" v-bind:src="selected.imageURL" />
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-2-3">
              <div class="l-box">
                <p>Material Name: {{ selected.displayName }}</p>
                <p>Description: {{ selected.description }} </p>
              </div>
            </div>
            <!-- End of image and introduction -->
            <!-- if image=null -->
          </div>
          <div v-else>
            <div class="pure-u-1">
              <div class="l-box">
                <p>Material Name: {{ selected.displayName }}</p>
                <p>Description: {{ selected.description }} </p>
              </div>
            </div>
          </div>
          <!-- End -->


          <div class="pure-u-1">
            <div class="l-box">
              <center>
                <h3>Jmol structure</h3>
                <div id="jmol" class="geometry"></div>
              </center>
            </div>
          </div>
          <!--
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
              <center>
                <h3>Band structure</h3></center>
              <img class="band pure-img" v-bind:src="selected.bandStructure" />
            </div>
          </div>
        -->
          <div class="pure-u-1">
            <div class="l-box">
              <center>
                <h3>Band Structure</h3></center>
              <img class="band pure-img" v-bind:src="selected.bandStructure" />
            </div>
          </div>
          <div class="pure-u-1">
            <div class="l-box">
              <details>
                <summary>Question: Is {{ selected.displayName }} a good light harvesting material?</summary>
                <!--
                <p>Why not ask <a href="https://www.edx.org/course/xi-jinpings-thought-on-socialism-with-chinese-characteristics-for-a-new-era">Winnie</a> for answer?</p>
              -->
                <p> {{ selected.reasons }}</p>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- More information about us -->
      <div class="duke-blue-box" id="contact">
        <div class="pure-g">
          <div class="pure-u-md-1-4 pure-u-1"></div>
          <div class="pure-u-md-1-2 pure-u-1">
            <div class="l-box">
              <center>
                <h3>Dr. Volker Blum</h3>
                <h4>Associate Professor</h4>
                <p>Department of Mechanical Engineering and Materials Science</p>
                <p>Office: 4308 Chesterfield Building </p>
                <p>Postal: 144 Hudson Hall, Box 90300 </p>
                <p>Duke University ∙ Durham, NC 27708 ∙ USA</p>
                <p>Phone: +1 (919) 660 5279</p>
                <p> E-mail volker.blum &lt;at&gt; duke.edu</p>
              </center>
            </div>
          </div>
          <div class="pure-u-md-1-5 pure-u-1">
            <div class="l-box">
              <center>
                <p>Like our work? Follow us on:</p>
                <a href="https://twitter.com/AimsDuke"><img src="http://pratt.duke.edu/sites/pratt.duke.edu/themes/pratt/images/social-icon-twitter.png"></a>
                <p>Want to join our group?</p>
                <a href="https://aims.pratt.duke.edu"><img class="pure-img" src="https://aims.pratt.duke.edu/sites/aims.pratt.duke.edu/files/u8/Duke_Group_Figure.jpg" /></a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of [more info about us] -->
  </div>
  <script src="main.js"></script>
</body>
