t<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Duke Energy Week@aims group</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <script src="https://chemapps.stolaf.edu/jmol/jsmol/JSmol.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="spectrum.js"></script>
</head>

<body>
    <div class="container">
      <div class="pure-menu pure-menu-horizontal pure-menu-scrollable mainmanual">
        <ul class="pure-menu-list">
	  <li class="pure-menu-item"><a href="#" class="pure-menu-link">Welcome</a></li>
          <li class="pure-menu-item"><a href="#intro" class="pure-menu-link">Introduction</a></li>
          <li class="pure-menu-item"><a href="#discover" class="pure-menu-link">Discover More</a></li>
          <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">About us</a></li>
        </ul>
      </div>
      <div class="pure-g rainbow-orange">
        <div class="pure-u">
          <div class="l-box">
            <center>
              <h1>Ab Initio Materials Simulations Group at Duke</h1>
		    <br>
	      <h2>Understanding and Predicting Light-Harvesting Materials <br> Using Quantum Mechanics</h2> 
            </center>
          </div>
        </div>
      </div>
      <!-- Introduction Part...-->
      <div class="pure-g rainbow-yellow">
        <div class="pure-u-1">
          <div class="l-box">
            <h3><span class="important-text">Light-Harvesting Materials</span></h3>
            <p>Solar energy is an abundant energy resource on earth. Plants and other
	       organisms have "harvested" this energy for billions of years, predominantly
	       in order to produce fuels. As humans, we can harness the same resource in
	       multiple ways, including photovoltaics (direct generation of electric power)
	       and in the form of simpler solar fuels, for example hydrogen from a photochemical
	       hydrogen evolution process. An additional question relates to storing the harvested
	       energy. Broadly speaking, photovoltaics appears poised to become competitive in the
	       electricity market on its own, but storage of excess energy harvested during daytime
	       still presents a challenge. Photochemical fuel generation is entirely feasible in the
	       lab and in principle solves the storage problem, but is not, at present, competitive
	       from an economic point of view.</p>
	    <p>All these forms of "light harvesting" have in common that the underlying processes - 
		capture of light, generation and transport of the electrical charges, and possibly
		chemical reactions - are directly determined by the atomic structure and composition 
		of a material. They originate at the atomic scale. Our group employs quantum-mechanics based
		computational predictions to understand and, if possible, help to advance improved materials
		for light harvesting purposes. One key focus is the prediction of new absorbers for
		photovoltaics, of which the most important existing candidates are shown on a well-known
		chart updated regularly by the National Renewable Energy Laboratory (NREL):</p>
            <center>
              <img class="pure" src="img/effeciency.png">
              <p>Figure 1: "NREL chart". This graph shows certified solar cell device efficiencies accomplished
		    using different types of solar absorber materials and different types of device architectures,
		    as a function of the certification year. The primary commercial solar absorber materials are
		      Si and so-called thin-film photovoltaic materials, CdTe and Cu(In,Ga)(S,Se)<sub>2</sub> ("CIGS"). However,
		    new absorber materials particularly for thin-film technologies are an active and promising 
		    research area to ultimately help reduce manufacturing cost and complexity and enable 
		    the technology to scale up to the power generation capacity required by a growing and
		    technologically more advanced human society.</p>
            </center>
            
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Second part -->
      <div class="pure-g rainbow-green">
        <div class="pure-u-1">
          <div class="l-box">
            <h3>Our group</h3>
            <p>In <a href="http://aims.pratt.duke.edu/">our group</a>, the focus is on developing computational methods
		    and tools to help us predict materials properties and processes from the "first principles" of
		    quantum mechanics. The key point is that this enables us to predict specific materials properties
		    faithfully, based on precisely defined atomic arrangements in a solid. We can thus take the essential
		    features of a solid and help predict in which way a material should be made, or, conversely why
		    a specific material should be altered in a certain way to make it more effective. Solar absorber 
		    materials are one prime example of how this works, but the underlying principle is general
		    and applied across the globe and across materials science and chemistry, in academia and industry,
		    by a host of researchers today. However, we do not make the materials that we predict ourselves.
		    Close collaborations with leading experimental groups are therefore and essential feature of 
		    our work. We are therefore particularly happy to be working with the group of David Mitzi on 
		    exciting questions such as solar energy absorbers. A specifically relevant aspect of our work
		    in this area are so-called "energy band structure" predictions for solids, based on a realistic
		    model of their underlying structure. An example for a complex solid (which is, however, not a 
		    solar absorber) is shown below:
		  </p>
            <div class="pure-g">

              <div class="pure-u-1">
                <center>
                  <img class="pure" src="img/what_aims_do.jpg"/>
                </center>
              <div>

              <div class="pure-u-1">
                <center>Figure 2: A schematic image of the information needed to predict an 
			energy band structure of a solid. The fundamentally necessary input are
		      the atomic positions in a crystalline model of a solid - here shown for a 
		      complex crystalline solid that can be made: Aminoethyl-quaterthiophene lead bromide, 
		      a complex organic-inorganic hybrid structure. This structure serves as input
		      to a computer code that solves the central equations of quantum mechanics in a
		      high-quality approximation; there are many widely used code packages that do this
		      and our group leads the development of one of them, "FHI-aims". With some luck
		      and much diligence, we can then predict the energies of electronic levels that can
		      accommodate electronic carriers in the material. In particular, the "energy band gap"
		      or "fundamental gap" (also indicated in the picture) is a region which does not 
		      allow any electronic carriers to transport current. This "gap" also gives
		      an approximate idea of the main light absorption energies to be covered by this
		      solid, and therefore its potential usefulness as a solar absorber or (in this case) 
		      a potential light emission material.</center>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
      <!-- End of second part -->
      <!-- Third Part -->
      <div class="pure-g rainbow-blue">
        <div class="pure-u-1">
          <div class="l-box">
            <h3>With the band structure, we can...</h3>
            <h4>A brife introduction to band</h4>

            <p>To start with our topic, we should talk about the physical background of <span class="important-text">band structure</span>. In solid-state physics, the electronic band structure (or simply band structure) of a solid describes the range of energies that an electron within the solid may have (called energy bands, allowed bands, or simply bands) and ranges of energy that it may not have (called band gaps or forbidden bands).</p>
            <p>Band structure comes from the overlap of atom orbital. With a large amount of atoms coming together to from a solic, such as a crystal lattice, the atoms' atomic orbitals overla. Since the <a href="https://en.wikipedia.org/wiki/Pauli_exclusion_principle">Pauli exclusion principle</a>dictates that no two electrons in the solid have the same quantum numbers, each atomic orbital splits into N discrete molecular orbitals, each with a different energy. Since the number of atoms in a macroscopic piece of solid is a very large number (N~10<sup>22</sup>) the number of orbitals is very large and thus they are very closely spaced in energy (of the order of 10<sup>−22</sup> eV). The energy of adjacent levels is so close together that they can be considered as a continuum, an energy band.</p>
            <img class="pure-img" src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Solid_state_electronic_band_structure.svg">
            <center>Figure 3: Formation of band</center>

            <h4>So, where does the band gap come from?</h4>
            <p>Band gaps are essentially leftover ranges of energy not covered by any band, a result of the finite widths of the energy bands. The bands have different widths, with the widths depending upon the degree of overlap in the atomic orbitals from which they arise. Two adjacent bands may simply not be wide enough to fully cover the range of energy. For example, the bands associated with core orbitals (such as 1s electrons) are extremely narrow due to the small overlap between adjacent atoms. As a result, there tend to be large band gaps between the core bands. Higher bands involve comparatively larger orbitals with more overlap, becoming progressively wider at higher energies so that there are no band gaps at higher energies.</p>
            <p>Reference: <a href="https://en.wikipedia.org/wiki/Electronic_band_structure">Wikipedia</a></p>


          </div>
        </div>
      </div>
      <!-- End of third part -->

      <!-- Spectrum Part -->
      <div class="pure-g rainbow-cyan">
        <div class="pure-u-1">
          <div class="l-box">
            <h3>Solar Spectrum</h3>
            <p>Reference: <a href="https://www.nrel.gov/grid/solar-resource/spectra-am1.5.html">American Society for Testing and Materials</a></p>
            <div id="solarspectrum"></div>
          </div>
        </div>
      </div>
      <!-- End of third part -->



      <div id="app">
      <div class="pure-g rainbow-voilet" id="discover">
        <div class="pure-u-1">
          <div class="l-box">
            <div class="select">
              <h3>Discovery more Materials Here:
			<select v-model="selected">
				<option value="" selected="selected">Choose a Material...</option>
				<option v-for="material in materials" :value="material" selected>{{ material.displayName }}</option>
        </select>
      </h3>
            </div>
          </div>
        </div>
      </div>
      <div v-if="selected" class="pure-g">
        <div class="pure-u-1">
          <div class="l-box">
            <h3>It seems that you selected <span class="important-text">[{{selected.displayName}}]</span> </h3>
            <p>Here is some information about the material you selected!</p>
          </div>
        </div>

        <div class="pure-g">
          <div class="pure-u-1">
            <div class="l-box">
              <center>
                <h3>Basic Information</h3>
              </center>
            </div>
          </div>

          <div v-if="selected.imageURL">

          <!-- image and introduction -->
          <div class="pure-u-1 pure-u-md-1-3">
            <div class="l-box">
              <img class="pure-img" v-bind:src="selected.imageURL" />
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="l-box">
              <p>Material Name: {{ selected.displayName }}</p>
              <p>Description: {{ selected.description }} </p>
            </div>
          </div>
          <!-- End of image and introduction -->
          <!-- if image=null -->
        </div>
        <div v-else>
          <div class="pure-u-1">
            <div class="l-box">
              <p>Material Name: {{ selected.displayName }}</p>
              <p>Description: {{ selected.description }} </p>
            </div>
          </div>
        </div>
        <!-- End -->


          <div class="pure-u-1">
            <div class="l-box">
              <center>
                <h3>Jmol structure</h3>
              <div id="jmol" class="geometry"></div></center>
            </div>
          </div>
          <!--
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
              <center>
                <h3>Band structure</h3></center>
              <img class="band pure-img" v-bind:src="selected.bandStructure" />
            </div>
          </div>
        -->
          <div class="pure-u-1">
            <div class="l-box">
              <center>
                <h3>Band Structure</h3></center>
              <img class="band pure-img" v-bind:src="selected.bandStructure" />
            </div>
          </div>
          <div class="pure-u-1">
            <div class="l-box">
              <details>
                <summary>Question: Is {{ selected.displayName }} a good light harvest material?</summary>
                <!--
                <p>Why not ask <a href="https://www.edx.org/course/xi-jinpings-thought-on-socialism-with-chinese-characteristics-for-a-new-era">Winnie</a> for answer?</p>
              -->
                <p> {{ selected.reasons }}</p>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- More information about us -->
      <div class="duke-blue-box" id="contact">
        <div class="pure-g">
          <div class="pure-u-md-1-4 pure-u-1"></div>
          <div class="pure-u-md-1-2 pure-u-1">
            <div class="l-box">
              <center>
                <h3>Dr. Volker Blum</h3>
                <h4>Associate Professor</h4>
                <p>Department of Mechanical Engineering and Materials Science</p>
                <p>Office: 4308 Chesterfield Building </p>
                <p>Postal: 144 Hudson Hall, Box 90300 </p>
                <p>Duke University ∙ Durham, NC 27708 ∙ USA</p>
                <p>Phone: +1 (919) 660 5279</p>
                <p> E-mail volker.blum &lt;at&gt; duke.edu</p>
              </center>
            </div>
          </div>
          <div class="pure-u-md-1-5 pure-u-1">
            <div class="l-box">
              <center>
                <p>Like our work? Follow us on:</p>
                <a href="https://twitter.com/AimsDuke"><img src="http://pratt.duke.edu/sites/pratt.duke.edu/themes/pratt/images/social-icon-twitter.png"></a>
                <p>Want to join our group?</p>
                <a href="https://aims.pratt.duke.edu"><img class="pure-img" src="https://aims.pratt.duke.edu/sites/aims.pratt.duke.edu/files/u8/Duke_Group_Figure.jpg" /></a>
              </center>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- End of [more info about us] -->
    </div>
  <script src="main.js"></script>
</body>
