.container {
  margin: 0 auto;
  max-width: 800px;
  background-color: #4B9CD320;
}
.l-box {
  padding: 1em;
}

img {
  max-width: 400px;
  margin: auto;
}

body{
  background-color: #4B9CD310;
}

.mainmanual {
 background-color: #FADBD8;;
  a:hover{
    color: #4B9CD3;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  background-color: #4B9CD320;
}
.l-box {
  padding: 1em;
}

img {
  border-radius:2vmin;
  margin-top: auto;
  margin-bottom: auto;
}

.demo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  margin-left: -20px;
}

.rainbow-red {
  background-color: #F9EBEA;
  color: #001A57;
}

.rainbow-orange {
  background-color: #FEF5E7;
  color: #001A57;
}

.rainbow-yellow {
  background-color: #FEF9E7;
  color: #001A57;
}

.rainbow-green {
  background-color: #E8F8F5;
  color: #001A57;
}

.rainbow-blue {
  background-color: #EAF2F8;
  color: #001A57;
}

.rainbow-indigo {
  background-color: #E8EAF6;
  color: #001A57;
}

.rainbow-purple {
  background-color: #EDE7F6;
  color: #001A57;
}

.unc-blue-box {
  /* color from: https://identity.unc.edu/colors/ */
  background-color:  #4B9CD330;
  h3 {
    color: #13294B;
  }
  p {
    color: #13294B;
  }
}


.duke-blue-box {
  /* color from: https://styleguide.duke.edu/color-palette/ */
  background-color: #001A57;
  color: #E5E5E5;
  h3 {
    color: #E5E5E5;
  }
  p {
    color: #FFF;
  }
  .img-intro {
    color: #F6EAB8;
  }
}

.important-text {
  color: #001A57;
  text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%);
}

a {
  color: #001A57;
}

a:hover {
  color: #4B9CD3;
}

#jmol {
  width: 350px;
  height: 350px;
}

#silicon {
  width: 250px;
  height: 250px;
}
